// Fonts
$primaryFont: 'Inter';
$secondaryFont: 'Karla';

// Colors
$rightTopBlobColor: #fffad1;
$leftBottomBlobColor: #deebf8;
$backgroundColor: #f5f7fb;
$introTitleColor: #444444;
$primaryColor: #293264;
$lightColor: #F5F7FB;
$btnBackgroundColor: #4D5B9E;
$questionHRColor: #DBDEF0;
$selectedAnswerColor: #D6DBF5;

// Transition settings
$transition-duration: 0.3s;